{% extends 'layout.html' %}

{% block content %}

{% load static %}

<header class="row align-items-center card-project" style="background-color: #010123; ">
    <div class="col-md-3 cardstyle=" background-color: #000013;">
        <img src="{% static 'portafolio/Damian.jpg' %}" alt="" class="img-thumbnail" class="img-fluid" alt="..." />
    </div>

    <div class=" col-md-9 my-auto p-4 text-center">
        <h1> <strong>Damián Rueda</strong></h1>
        <h3>Expert en Réalité Virtuelle et technologies émergentes d'Intelligence Artificielle.
        </h3>
        <p>
            Avec une solide base en Python et un intérêt croissant pour l'apprentissage automatique, je me consacre à
            créer des
            expériences immersives en réalité virtuelle, intégrant l'intelligence artificielle pour développer des
            interactions
            intuitives et adaptatives. Ma passion est de concevoir des applications et des outils qui favorisent le
            développement
            personnel et professionnel à l'ère de l'automatisation, aidant les individus à cultiver leurs compétences et
            à s'adapter
            aux dynamiques changeantes du monde technologique.
        </p>
        <a class="btn btn-primary btn-lg rounded-0 my-3" href="{% static 'portafolio/cvo.pdf'%}" target="_blank">
            Download CV</a>
    </div>
</header>


<!-- Porfolio Section -->
<div class="row my-4 text-center">

    <h3>Mes Projets</h3>

    <p>__________________________________________________</p>
    <p>__________________________________________________</p>

    {% for project in projects %}
    <div class="col-md-4 p-4">
        <div class="card  card-project " style="background-color:#010123;;">
            <img src=" {{project.image.url }}" class="card-img-top" />
            <!-- aqui cambiamos el color de los textos del proyecto -->

            <div class="card-body text-light  ">
                <video mx-auto controls class="img-fluid" />
                <!-- Asegúrate de que 'project.video' exista y tenga una URL válida -->
                {% if project.video %}
                <source src="{{ project.video.url }}" type="video/mp4">
                Your browser does not support the video tag.
                {% else %}
                <p>Video no disponible.</p>
                {% endif %}
                </video>

                <h2>{{ project.title }}</h2>
                <p>{{ project.description|truncatechars:100}}</p>

                {% if project.url %}
                <a href="{{project.url}}" class="btn btn-light rounded-1 btn-sm" target="__blank"
                    rel="noreferrer">github</a>

                <a href="{{project.url2}}" class="btn btn-primary rounded-1 btn-sm" target="__blank"
                    rel="noreferrer">View details</a>

                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}